<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <link rel="stylesheet" href="/styles.css">
    <body>
        <h1>API Documentation for Lost and Pound API</h1>


        <p>Shows all the pets who are currently lost</p>
        <pre>
            <code>
                <a class="no-underline" href="/posts/pets">
                    https://lostandpoundapi.herokuapp.com/posts/pets
                </a>
            </code>
        </pre>


        <p>Shows all the pets who are currently lost that are cats note: it is by default sorted by creation of the post in descending order (most recent post on the top)</p>
        <pre>
            <code class="break-words">
                <a class="no-underline" href="/posts/pets/cat">
                    https://lostandpoundapi.herokuapp.com/posts/pets/cat
                </a>
            </code>
        </pre>

        <p>Shows all the pets who are currently lost that are dogs note: it is by default sorted by creation of the post in descending order (most recent post on the top)</p>
        <pre>
            <code class="break-words">
                <a class="no-underline" href="/posts/pets/dog">
                    https://lostandpoundapi.herokuapp.com/posts/pets/dog
                </a>
            </code>
        </pre>




    </body>

</html>
